.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding:0;
}
/* shear style */
.btn{
    color: #FFFFFF;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    cursor:pointer;
    transition: 900ms ;
}
.btn:hover,
.su:hover
{
    transform: scale(1.12);
}

/* menu section */
#menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 24px;
}
.menu-item ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu-item ul a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu-logo{
    width: 219px;
    height: 32px;
}
.gr-text{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}
.menu-icon{
    display: none;
}
.menu-hr,
.reting-hr
{
    border: none;
    height: 2px;
    background-color: #412567;
}
/* hero section */
#hero{
    background-color: #1A0B2E;
    background-image:url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 100px;
}
.hero-circle{
    position: relative;
    margin-bottom: 40px;
}
.mi-phone{
    position: absolute;
    top: 100px;
    left: 110px;
}
.circle-text{
    font-size: 18px;
    color:#1A0B2E;
    background-color: #00FF88;
    width: 75px;
    padding: 8px 16px;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    border-radius: 10000px;
    border: none;position: absolute;
    top:20px;
    left: 250px;
}
.hero-circle img{
    display: block;
}
.hero-heder{
    color:#FFFFFF;
    font-size: 60px;
    font-weight: 800px;
}
.hero-dx{
    color:white;
    font-size: 16px;
    margin-bottom: 24px;
}
.hero-button{
    display: flex;
    gap:8px;
}
.hero-button button{
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.hero-button .su{
    color: #00FF88;
    border: 2px solid #00FF88;
    background: transparent;
    border-radius: 10000px;
    cursor: pointer;
    transition: 1s;
}

/* about section */
.about{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.about-hade{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.about-dx{
    line-height: 30px;
}
.about-text{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.reting{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1200px;
    margin: 0 auto;
    gap:80px;
    text-align: center;
    padding-bottom: 120px;
}
.reting-hr{
    margin: 80px auto;
    max-width: 1200px;
    
}
.reting-num h1{
    color: #00FF88;
    font-size: 48px;
}

/* choose header */

.choose{
    background-color: #230E3D;
}
.choose-heder{
    color: white;
    padding-top:100px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.box{
    max-width: 1200px;
    margin:40px auto 0;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
}
.box-1
{
    grid-row: span 2;
}
.box-2,
.box-3,
.box-4
{
    grid-column: span 2;

}
.box-container{
    color:white;
    background-color: #351165;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box-container h3{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

/* card section  */
.card{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.card-heder{
    color:white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 100px;
}
.card-box{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item{
    max-width: 380px;
    max-height: 440px;
    color: white;
    background-color: #250D44;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: 500ms;
}
.card-item:hover{
    transform: scale(1.12);
}
.card-text{
    padding: 24px;;
}
.card-text h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.card-text p{
    max-width: 332px;
    max-height: 72px;
    overflow: auto;
}
.video-wrap{
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}
.video-wrap iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.card-text h5{
    color:#00FF88;
    margin-top: 15px;
    display: flex;
    gap:7px;
}

/* host section */
.host-heder{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.host-container{
    background-color: #351165;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    color: white;
}
.host-text h3{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}
.host-icon{
    gap: 16px;
    margin-top: 16px;
}
.host-icon img{
    width: 20px;
    height: 20px;
    border:2px solid #533C72;
    padding: 16px;
    border-radius: 30%;
}

/* footer section  */

footer{
    background-image: url(../assets/footer-bg.png);
    background-size: 100%;
    color: white;
    text-align: center;
}
.footer-logo h1{
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 32px;
}
.sosal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    max-width: 700px;
    gap:24px;
    justify-items: center; 
}
.sosal h3{
    display: flex;
    align-items: center;
    gap:8px;
    white-space: nowrap;
    font-weight: 600; 
}
.sosal h3 img{
    width: 20px;
    height: 20px;
}
footer p{
    padding-top: 32px;
    padding-bottom: 100px;
}

/* moble phone section  */
@media screen and (max-width: 576px){
    .menu-item ul{
        display: none;
    }
    .menu-button{
        display: none;
    }
    .menu-icon{
        display: flex;
    }

    #hero{
    background-size: 100%;
    background-position: 0 120px;
    padding: 10px;
    }
    .hero-circle{
    transform: scale(0.5);
    margin-bottom: 1px;
    }
    .hero-text .hero-heder{
        font-size: 40px;
    }
    .hero-button{
        margin-bottom: 20px;
    }
    .about-text h1{
        font-size: 32px;
    }
    .about{
        padding: 30px;
    }
    .reting{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 10px;
    }
    .choose{
        padding: 10px 20px;
    }
    .choose-heder{
        font-size: 30px;
        padding-top: 10px;
    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 10px;
    }
    .box > div{
    grid-column: 1 / -1; 
    grid-row: auto;
    }
    .card{
        padding: 16px;
        display: flex;
        flex-direction: column;
    }
    .card-heder,.host-heder{
        font-size: 32px;
        padding: 20px;
    }
    .card-box{
        grid-template-columns: 1fr;
    }
    .host-container{
        flex-direction: column;
        text-align: center;
    }

    footer{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-logo h1{
        font-size: 44px;
        padding-top: 20px;
    }
    .sosal{
        grid-template-columns: repeat(2,1fr);
        max-width: 50px;
        justify-content: center;
    }
    footer p{
    padding-bottom: 20px;
}
}

@media screen and (min-width:576px) and (max-width:992px){
    .hero-circle{
        transform: scale(0.80);
        margin-bottom: 10px;
    }
    .hero-text .hero-heder{
        font-size: 60px;
    }
    #hero{
        padding: 10px;
    }
    .about{
        padding-top: 0px;
    }
    .reting{
        gap:30px;
        padding-bottom: 30px;
    }
    .reting-hr{
        margin:30px auto;
    }
    
    .hero-button{
        margin: 30px;
    }
    .choose-heder{
        padding-top: 30px;
    }
    .box{
        grid-template-columns: repeat(2,1fr);
    }
    .box-1,.box-2,.box-3,.box-4{
        grid-column: span 1;
        grid-row: span 2;
    }
    .card-heder{
        padding: 30px;
        font-size: 40px;
    }
    .card-box{
        grid-template-columns: repeat(2,1fr);
    }
    .host-heder{
        padding-top: 20px;
    }
    footer{
        background-size: cover;
        background-position: center;
    }
    .footer-logo h1{
        font-size: 70px;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .sosal{
        max-width: 400px;
        grid-template-columns: repeat(2,1fr);
    }
}