.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding:0;
}
/* shear style */
.btn{
    color: #FFFFFF;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
}
/* menu section */
#menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 24px;
}
.menu-item ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu-item ul a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu-logo{
    width: 219px;
    height: 32px;
}
.gr-text{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}
.menu-icon{
    display: none;
}

@media screen and (max-width: 576px){
    .menu-item ul{
        display: none;
    }
    .menu-button{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
}